:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-bgc-text-color: #ffffff;
  --black-text-color: #000000;
  --hero-footer-bgc: #2f303a;
  --secondary-bgc: #f5f4fa;
  --footer-phone-mail-text: rgba(255, 255, 255, 0.6);
  --footer-social-bgc: rgba(255, 255, 255, 0.1);
  --icon-normal-color: #afb1b8;
  --bcg-overlay-color: rgba(33, 150, 243, 0.9);
  --backdrop-bgc: rgba(0, 0, 0, 0.2);
  --card-set-gap: 30px;
  --animation-duration-hw-05: 250ms;
  --bezier-hw-05: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--white-bgc-text-ciolor);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  justify-content: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.button {
  color: var(--title-text-color);
  background-color: var(--secondary-bgc);
  font-size: 16px;
  line-height: 1.87;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;
  transition: background-color var(--animation-duration-hw-05) var(--bezier-hw-05), fill var(--animation-duration-hw-05) var(--bezier-hw-05);
}
.button:hover, .button:focus {
  color: var(--white-bgc-text-color);
  background: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button.primary {
  color: var(--white-bgc-text-color);
  background-color: var(--accent-color);
  transition: background-color var(--animation-duration-hw-05) var(--bezier-hw-05), fill var(--animation-duration-hw-05) var(--bezier-hw-05);
}
.button.primary:hover, .button.primary:focus {
  color: var(--white-bgc-text-color);
  background: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button.secondary {
  color: var(--title-text-color);
  background-color: var(--secondary-bgc);
  transition: background-color var(--animation-duration-hw-05) var(--bezier-hw-05), fill var(--animation-duration-hw-05) var(--bezier-hw-05);
}
.button.secondary:hover, .button.secondary:focus {
  color: var(--white-bgc-text-color);
  background: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-group {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.group-item {
  display: flex;
  margin-left: 6px;
  transition: color var(--animation-duration-hw-05) var(--bezier-hw-05);
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social__item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
  fill: var(--icon-normal-color);
}
.social__item:last-child {
  margin-right: 0;
}

.social__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--icon-normal-color);
  background-color: var(--white-bgc-text-color);
  transition: background-color var(--animation-duration-hw-05) var(--bezier-hw-05), fill var(--animation-duration-hw-05) var(--bezier-hw-05);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  fill: var(--white-bgc-text-color);
}

.footer-subscribe {
  color: var(--white-bgc-text-color);
  margin-top: 12px;
  outline: none;
}

.footer-subscribe__text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.33;
  margin-bottom: 20px;
}

.field-subscribe {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border var(--animation-duration-hw-05) var(--bezier-hw-05);
}

.button-submit {
  position: relative;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 500;
  cursor: pointer;
  color: var(--white-bgc-text-color);
  background: var(--accent-color);
  margin-left: 12px;
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 62px;
  padding-bottom: 10px;
  padding-left: 29px;
  border: 0;
}

.icon-send {
  fill: var(--white-bgc-text-color);
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.container-join {
  color: var(--white-bgc-text-color);
  margin-top: 12px;
  margin-right: 93px;
}

.container-join__text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.33;
  margin-bottom: 20px;
}

.footer-socialbar {
  display: flex;
}

.footer-socialbar__item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.footer-socialbar__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--footer-social-bgc);
  transition: background-color var(--animation-duration-hw-05) var(--bezier-hw-05), fill var(--animation-duration-hw-05) var(--bezier-hw-05);
}
.footer-socialbar__link:hover, .footer-socialbar__link:focus {
  background-color: var(--accent-color);
  fill: var(--white-bgc-text-color);
}

.footer-socialbar__icon {
  fill: var(--white-bgc-text-color);
}

.checkbox {
  transition: border var(--animation-duration-hw-05) var(--bezier-hw-05);
}
.checkbox:checked + .checkbox-field__label .checkbox-field__check {
  background: var(--accent-color);
  border: transparent;
  transition: background-color var(--animation-duration-hw-05) var(--bezier-hw-05);
}

.checkbox-field__label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
  cursor: pointer;
}

.checkbox-field__check {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  fill: var(--white-bgc-text-color);
}

.checkbox-field__text {
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-family: Roboto;
  font-style: normal;
  color: var(--primary-text-color);
}

.checkbox-field__link {
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-family: Roboto;
  font-style: normal;
  color: var(--accent-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.web {
  display: flex;
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo_color_dark {
  margin-right: 93px;
  display: flex;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--black-text-color);
  transition: color var(--animation-duration-hw-05) var(--bezier-hw-05);
}
.logo_color_dark:hover, .logo_color_dark:focus {
  color: var(--accent-color);
}

.logo_color_light {
  display: flex;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white-bgc-text-color);
}

.header-list .link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-list .link:hover, .header-list .link:focus {
  color: var(--accent-color);
}
.header-list .link.current {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-list__item .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  position: relative;
  transition: color var(--animation-duration-hw-05) var(--bezier-hw-05);
}
.header-list__item .link:hover::after {
  opacity: 1;
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  bottom: -1px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  transition: opacity var(--animation-duration-hw-05) var(--bezier-hw-05);
}

.current::after:hover {
  transition: opacity var(--animation-duration-hw-05) var(--bezier-hw-05);
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-list .link.current:hover::after {
  color: var(--accent-color);
  opacity: 1;
}

.header-contacts {
  display: flex;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
  box-sizing: border-box;
  margin-right: 30px;
}

.header-mail,
.header-tel {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  transition: color var(--animation-duration-hw-05) var(--bezier-hw-05);
}
.header-mail:hover, .header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.icon-mail,
.icon-tel {
  margin-right: 10px;
  fill: currentColor;
}

.header-mail {
  margin-right: 50px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.banner {
  padding-top: 200px;
  padding-bottom: 200px;
  background: var(--hero-footer-bgc);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.banner-container {
  width: 696px;
  margin: 0 auto;
}

.banner-content {
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--white-bgc-text-color);
  letter-spacing: 0.06em;
}

.button-order {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 500;
  cursor: pointer;
  color: var(--white-bgc-text-color);
  background: var(--accent-color);
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border: 0;
}
.button-order:hover, .button-order:focus {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-bgc-text-color);
}

.features {
  padding-top: 94px;
}

.features-list {
  display: flex;
}

.features-list__item {
  margin-right: 30px;
  width: 270px;
  height: 251px;
  justify-content: center;
  width: 1200px;
}
.features-list__item::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-size: contain;
  background-position: center;
  background: #f5f4fa;
  border-radius: 4px;
}

.icon-attention::before {
  background-image: url(../images/antenna-one.svg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.icon-punctuality::before {
  background-image: url(../images/clock-one.svg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.icon-planning::before {
  background-image: url(../images/diagram-one.svg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.icon-technologies::before {
  background-image: url(../images/astronaut-one.svg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.features-list__title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text-color);
  margin-top: 30px;
}
.features-list__title:last-child {
  margin-right: 0;
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.products {
  display: flex;
  margin-top: 50px;
  margin-left: -30px;
}

.products .products__item {
  display: flex;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  position: relative;
}

.products__title {
  color: var(--white-bgc-text-color);
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  bottom: 0;
  font-size: 14px;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--secondary-bgc);
}

.team {
  display: flex;
  margin-top: 50px;
}

.team__item {
  background-color: var(--white-bgc-text-color);
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.member {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.member__position {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 10px;
}

.clients {
  display: flex;
  margin-top: 50px;
}

.clients__item {
  width: 170px;
  height: 92px;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: solid 1px var(--icon-normal-color);
  border-radius: 4px;
  cursor: pointer;
  border-color: hover var(--accent-color);
  border-color: focus var(--accent-color);
  color: var(--icon-normal-color);
  transition: color var(--animation-duration-hw-05) var(--bezier-hw-05);
}
.client__link:hover, .client__link:focus {
  color: var(--accent-color);
}

.client__logo {
  fill: currentColor;
}

.footer {
  display: flex;
  background: var(--hero-footer-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.container-footer {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.footer-address {
  margin-right: 70px;
}

.footer-logo {
  display: flex;
  color: var(--white-bgc-text-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address {
  color: var(--white-bgc-text-color);
  background-color: var(--hero-footer-bgc);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  margin-top: 20px;
}

.mail-footer {
  padding-top: 9px;
  font-style: normal;
}

.tel-footer {
  padding-top: 9px;
  font-style: normal;
}

.footer-mail {
  color: var(--footer-phone-mail-text);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  transition: color var(--animation-duration-hw-05) var(--bezier-hw-05);
}
.footer-mail:hover, .footer-mail:focus {
  color: var(--accent-color);
  background-color: var(--hero-footer-bgc);
}

.footer-tel {
  color: var(--footer-phone-mail-text);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  transition: color var(--animation-duration-hw-05) var(--bezier-hw-05);
}
.footer-tel:hover, .footer-tel:focus {
  color: var(--accent-color);
  background-color: var(--hero-footer-bgc);
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-bgc);
  top: 0;
  transition: opacity var(--animation-duration-hw-05), visibility var(--animation-duration-hw-05);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: var(--white-bgc-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal__button {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: unset;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: color var(--animation-duration-hw-05) var(--bezier-hw-05), fill var(--animation-duration-hw-05) var(--bezier-hw-05);
}
.modal__button:focus .modal__close-icon, .modal__button:hover .modal__close-icon {
  fill: var(--accent-color);
}

.modal__close-icon {
  transition: fill var(--animation-duration-hw-05) var(--bezier-hw-05), fill var(--animation-duration-hw-05) var(--bezier-hw-05);
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 448px;
}

.form__title {
  margin-top: 2px;
  margin-bottom: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.field-input-icon {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.mark {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.field-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border var(--animation-duration-hw-05) var(--bezier-hw-05);
}
.field-input:hover, .field-input:focus {
  border-color: #188ce8;
  cursor: pointer;
}

.field-icon {
  position: absolute;
  top: 50%;
  left: 12px;
}
.field-input:focus + .field-icon {
  fill: #188ce8;
}

.field-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border var(--animation-duration-hw-05) var(--bezier-hw-05);
}
.field-textarea:hover, .field-textarea:focus {
  border-color: #188ce8;
  cursor: pointer;
}
.field-textarea::-moz-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.field-textarea:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.field-textarea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.btn-area {
  display: flex;
  justify-content: center;
}

.send-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-bgc-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  transition: background-color var(--animation-duration-hw-05) var(--bezier-hw-05);
}
.send-btn:hover, .send-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.cardset {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.cardset .cardset__item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}
.cardset .cardset__item:hover, .cardset .cardset__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bcg-overlay-color);
  transition: transform var(--animation-duration-hw-05) var(--bezier-hw-05);
  transform: translateY(100%);
}
.cardset__link:hover .card__overlay, .cardset__link:focus .card__overlay {
  opacity: 1;
  transform: translateY(0);
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__description {
  position: absolute;
  padding: 63px 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: var(--white-bgc-text-color);
}
.card__description:hover::before, .card__description:focus::before {
  opacity: 1;
  transform: translateY(0);
}

.card__meta {
  border: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}

.card__title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: start;
}

.card__text {
  color: var(--primary-text-color);
  text-align: start;
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */