.features {
  padding-top: 60px;
  padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}

.features__list {
  width: 100%;
  margin-bottom: -30px;
    @media screen and (min-width: 768px) {
      min-width: 768px;
      display: inline-flex;
      flex-wrap: wrap;
      margin-left: -30px;
  }
    @media screen and (min-width: 1200px) {
      min-width: 1200px;
  }
}

.features__item {
  width: 100%;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.features__image {
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background: var(--secondary-bgc);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}   
    
.features__title {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  
    @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features__text {
  
  @include font-normal;
  color: var(--primary-text-color);
}

.icon {
  width: 70px;
  height: 70px;
}