
.section-team {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--secondary-bgc);
    @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    background: var(--secondary-bgc);
  }
}

.team {
  margin-bottom: -30px;
    @media screen and (min-width: 768px) {
      min-width: 768px;
      display: inline-flex;
      flex-wrap: wrap;
      margin-left: -30px;
  }
}
.team__item {
  width: 100%;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
    background-color: var(--white-bgc-text-color);
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  
  .member {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .member__name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .member__position {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 10px;
  }