:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --white-bgc-text-color: #ffffff;
    --black-text-color: #000000;
    --hero-footer-bgc: #2f303a;
    --secondary-bgc: #f5f4fa;
    --footer-phone-mail-text: rgba(255, 255, 255, 0.6);
    --footer-social-bgc: rgba(255, 255, 255, 0.1);
    --icon-normal-color: #afb1b8;
    --bcg-overlay-color: rgba(33, 150, 243, 0.9);
    --backdrop-bgc: rgba(0, 0, 0, 0.2);
    --card-set-gap: 30px;
    --animation-duration-hw-05: 250ms;
    --bezier-hw-05: cubic-bezier(0.4, 0, 0.2, 1);
  }